/*styling.css*/
* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/*Style body by adding background image and set it to cover, add font-family*/
body{
    font-family: Arvo, serif;
    background: url('https://source.unsplash.com/1600x900/?nature,enviroment') no-repeat
   center center;
    background-attachment: fixed;
    background-size: cover;
   }
   /*Style brand*/
   #logo {
    margin: 34px 2px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}
   /*Style navigation bar*/
   #navbar{
    position: relative;
    padding: 5px;
   }

   #navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
   }

    dl, ol, ul {
        margin-top: -82px;
        margin-bottom: 1rem;
        margin-left: 150px; 
    } 

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    padding: 3px 35px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}
   /*Style jumbotron*/
   .jumbotron{
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 220px;
    letter-spacing: 2.5px;
   }

   /*limit the width of the icons section*/
   .container{
    max-width: 1000px;
   }
   
   /*Style icons section using bootstrap grid system*/
   .bodyimage{
    height: 100px;
   }
   .col-md-4{
    text-align: center;
    color: #fff;
   }
   .icons p{
    font-size: 15px; 
}
/*Style contact button*/
.contact{
 text-align: center;
 margin-top: 30px;
 margin-bottom: 100px;
}
.btn{
 background-color: rgba(0, 255, 184, 0.5);
 border: none;
 border-radius: 10px;
 color: #fff;
 font-size: 18px;
 padding: 10px 70px;
 letter-spacing: 1.3px;
}
.btn:hover{
 background-color: rgba(0, 0, 0, 0.5);
 color: #fff;
 border: none;
}
/*Style footer*/
.footer{
 background-color: rgba(0, 0, 0, 0.5);
 color: grey;
 font-size: 15px;
 padding: 10px 0;
}
/*use media queries to change icons size in small devices*/
@media (max-width: 500px){
 .bodyimage{
 height: 70px;
 }
}